{% extends "layout/basic.html" %}

{% block content %}
	<h2>Рубрика: {{current_rubric.name}}</h2>
	{% for bb in bbs %}
		<div>
			<h2>{{bb.title}}</h2>
			<p>{{bb.content}}</p>
			<p>{{bb.published|date:"d.m.Y H:i:s"}}</p>
		</div>
	{% endfor %}
{% endblock content %}









<!--
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{current_rubric.name}} :: Доска обьявлении</title>
</head>
<body>
	<h1>Обьявления</h1>
	<h2>Рубрика: {{current_rubric.name}}</h2>
	<div>
		<a href="{% url 'index' %}">Главная</a>
		{% for rubric in rubrics %}
			<a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
		{% endfor %}
	</div>
	</div>
	<br><a href="{% url 'add' %}">Добавить</a>
	{% for bb in bbs %}
		<div>
			<h2>{{bb.title}}</h2>
			<p>{{bb.content}}</p>
			<p>{{bb.published|date:"d.m.Y H:i:s"}}</p>
		</div>
	{% endfor %}
</body>
</html>

--> 